doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 외상청
    body 
        h1 추천코디.
        a(href="/hufsWeather/getWeather") 현재온도 확인하기.
        br
        a(href="/hufsWeather") 메인페이지. 
