doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 외상청
    body 
        h1 외상청 메인페이지 입니다.
        a(href="/hufsweather/getweather") 현재온도 확인하기.
        br
        a(href="/hufsweather/designer") 추천코디 확인하기. 
